* {
    background-color: rgb(6, 0, 14);   
}

p {
    font-size: 20px;
    color: #b789ef;
}

h1 {
    font-size: 48px;
    color:  #F011C5;
    text-align: center;
    text-shadow: 0 0 6px #2C11F0, 0 0 5px #B789EF;
}

h2 {
    color: #f011c5;
}

main li {
    font-size: 20px;
    color: rgb(183, 137, 239);
}

/*navigation bar*/

.nav_bar ul {
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.nav_bar a{
    color: rgb(17, 61, 240);
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav_bar a:hover{
    color: #be11f0;
}

.nav_bar a.active {
    color: #B789EF;
}

.nav_bar li{
    display: inline-block;
}

/* cv_nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

 .cv_nav a{
    color: rgb(17, 61, 240);
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.cv_nav a:hover{
    color: #f011c5;

}

.cv_nav li{
    display: inline-block;
} */ 



