body {
    background-color: rgb(19, 17, 17);
    color: antiquewhite;
}

.nav_bar ul {
    list-style-type: none;
    background-color: rgb(208, 111, 249);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    align-content: center;
}

.nav_bar a{
    color: rgb(3, 79, 27);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav_bar a:hover{
    background-color: rgb(201, 98, 221);

}

.nav_bar li{
    float: left;
}