body {
    background-color: rgb(11, 2, 16);
    
}

p {
    font-size: 20px;
    color: rgb(183, 137, 239);
    text-align: center;
}
 /*navigation bar*/

.nav_bar ul {
    list-style-type: none;
    color: rgb(208, 111, 249);
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.nav_bar a{
    color: rgb(17, 61, 240);
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav_bar a:hover{
    color: rgb(190, 17, 240);

}

.nav_bar li{
    display: inline-block;
}

/*name and role*/

#main_name {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    color: rgb(240, 17, 197);
    padding: 0px;
    margin-top: 0px;
    margin-bottom: -10px;
}

#main_role {
    text-align: center;
    color:rgb(190, 17, 240);
    margin-top: -10px;
    margin-bottom: 30px;
}

/*portrait and intro*/
.portrait_intro {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.container_portrait {
    height: 200px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: solid rgb(17, 61, 240); 2px;
    
}

.introduction {
    display: flex;
    justify-content: center; 
}

.introduction_text {
    padding: 10px;
    width: 90%;
}

.end {

}
  