body {
    background-color: rgb(6, 0, 14);   
}

/*navigation bar*/

.nav_bar ul {
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.nav_bar a{
    color: rgb(190, 17, 240);
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Raleway", serif;
    font-style: normal;
}

.nav_bar a:hover{
    color: #f011c5;
}

.nav_bar a.active {
    color: rgb(17, 240, 50);
}

.nav_bar li{
    display: inline-block;
}

/* Styling fonts */

p {
    font-size: 20px;
    color: rgb(183, 137, 239);
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    color: #f011c5;
}

@media screen and (max-width: 1185px) {

    p {
        width: 800px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    p {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {

    p {
        font-size: 18px;
    }

    .nav_bar a {
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (max-width: 425px) {

    p {
        font-size: 16px;
        width: 300px;
    }

    .nav_bar a {
        font-size: 12px;
        font-weight: normal;
    } 
}

@media screen and (max-width: 325px) { 

    p {
        width: 310px;
    }
}

       