body {
    background-color: rgb(6, 0, 14);   
}

p {
    font-size: 20px;
    color: rgb(183, 137, 239);
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    color: #f011c5;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: -10px;
}

/*navigation bar*/

.nav_bar ul {
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.nav_bar a{
    color: rgb(190, 17, 240);
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Raleway", serif;
    font-style: normal;
}

.nav_bar a:hover{
    color: #f011c5;
}

.nav_bar a.active {
    color: rgb(17, 240, 50);
}

.nav_bar li{
    display: inline-block;
}

@media screen and (max-width: 1024px) {

    }  

@media screen and (max-width: 800px) {
    h1 {
        font-size: 33px;
    }
}

@media screen and (max-width: 768px) {

    p {
        font-size: 18px;
    }

    .nav_bar a {
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (max-width: 375px) {

    p {
        font-size: 16px;
    }

    .nav_bar a {
        font-size: 12px;
        font-weight: normal;
    }

   h1 {
        font-size: 26px;
    }    
}
       